@font-face {
    font-family: 'AvenirMedium';
    src: url('AvenirNextRoundedStd-Med.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AvenirBold';
    src: url('AvenirNextRoundedStd-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
html{
    background-color: #212121;
    font-family: "Inter", AvenirMedium;
    color: #fff;
}
header{
    position: fixed; 
    left: 0;            
    right: 0; 
    top: 0;          
    background-color: #ffffff;
    height: 10vh;
    display: flex;
    align-items: center;
}
#title{
    text-decoration: none;
    display: flex;
    align-items: center;
}
.spacer{
    height: 15vh;
}
header h1{
    font-family: "Inter", AvenirBold;
    color: #18206F;
    margin-left: 1rem;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
}
header a {
    padding: 1rem;
    text-decoration: none;
}
a {
    
    color: #D4AF37;
}
main{
    text-align: center;
}
footer {
    background-color: #000;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    padding: 1rem;
    gap: 2rem;
}